*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
    background-repeat: no-repeat;

}

.container {
    max-width: 1450px!important;
    margin: 0 auto;
    padding: 0 30px;
}
